[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "Gamebuino-Classic"]
	path = Gamebuino-Classic
	url = https://github.com/Gamebuino/Gamebuino-Classic.git
